<div class="page-header">
  <h1>Account Info</h1>
</div>
<div class="col-lg-12"> 
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Account Status</h3>
    </div>
    <div class="panel-body">
      <p>CJDNS Public Key: {{account.pubkey}}</p>
      <p>CJDNS IP: {{account.ip6}}</p>
      <p>Status: {{#if account.active}}<span class="label label-success">Active</span>{{else}}<span class="label label-danger">Inactive</span>{{/if}}</p>
      <p>Paid through: {{account.paid_through}}{{^account.paid_through}}Not Paid Up!{{/account.paid_through}}</p>
      <form method="POST" action="/account/{{account.pubkey}}/invoice">
        <button type="submit" class="btn btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-time"></span> Add Time</button>
      </form>
    </div>
  </div>
  

  {{#if account.active}}
  <p>This account is <b>active</b>. If it is your account, you can connect by adding the following to the <code>"outgoingConnections"</code> array in the <code>"ipTunnel"</code> section of your <code>cjdroute.conf</code>:</p>

  <pre><code>// ProjektVPN tunnel for {{account.ip4}}
"{{server_pubkey}}",</code></pre>

  {{/if}}

  {{#if debug}}
    <form method="POST" action="/account/{{account.pubkey}}/force_add_time">
        <input type="submit" class="btn btn-danger" value="Force Add Time">
    </form>
  {{/if}}
</div>
