<h1>{{account.pubkey}}</h1>
<p>cjdns IP: {{account.ip6}}</p>
<p>Active: {{account.active}}</p>
<p>Paid through: {{account.paid_through}}{{^account.paid_through}}Not Paid Up!{{/account.paid_through}}</p>
<form method="POST" action="/account/{{account.pubkey}}/invoice">
    <input type="submit" value="Add Time">
</form>
