<div class="page-header">
  <h1>Add Time</h1>
</div>
<div class="row">
  <div class="col-lg-6 valign">
    <p>Send <strong>exactly</strong> <b>{{amount}}</b> BTC to <b>{{btcAddress}}</b> to purchase 1 month of VPN access.</p>
    
    <p><strong>Do not</strong> try to use an address more than once. You can purchase only one month at a time. Additional payments will be lost.<p>
      
    <p>This page will automatically refresh to check the status of your order.</p>
  </div><div class="col-lg-6 valign">
    {{#if received}}
      <div class="text-center">
        <h2>Payment Received!</h2>
        <p>Your account now expires at <b>{{account.paid_through}}{{^account.paid_through}}Not Paid Up!{{/account.paid_through}}</b></p>
        <a role="button" class="btn btn-primary btn-lg" href="/account/{{account.pubkey}}">My Account</a>
      </div>
    {{else}}
      <div class="text-center">
        <h2>Awaiting Payment</h2>
        <img src="https://chart.googleapis.com/chart?chs=200x200&cht=qr&chl=bitcoin:{{btcAddress}}?amount={{amount}}">
        <h4>{{amount}} BTC</h4>
        <a role="button" class="btn btn-primary btn-lg" href="bitcoin:{{btcAddress}}?amount={{amount}}">Pay with Bitcoin</a>
      </div>

      <script type='text/javascript'>
        // Auto reload
        setTimeout(function() {
          location.reload(true);
        }, 1000 * 30);
      </script>
    {{/if}}
  </div>
</div>

