<h1>Add Time To {{account.pubkey}}</h1>
<p>Paid through: {{account.paid_through}}{{^account.paid_through}}Not Paid Up!{{/account.paid_through}}</p>
<p>Send <strong>exactly</strong> {{amount}} BTC to {{btcAddress}} to purchase 1 month of VPN access.</p>
<p>Invoice status: {{received}}</p>
<p><strong>Do not</strong> try to use an address more than once. You can purchase only one month at a time. Additional payments will be lost.<p>
