<!DOCTYPE html>
<html>
    <head>
        <title>{{pubkey}}</title>
    </head>
    <body>
        <h1>{{pubkey}}</h1>
        <p>cjdns IP: {{ip6}}</p>
        <p>Active: {{active}}</p>
        <p>Paid through: {{paid_through}}{{^paid_through}}Not Paid Up!{{/paid_through}}</p>
    </body>
</html>
